* {
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(8, 99, 148);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  color: white;
  font-size: 5rem;
}

button {
  background-color: rgb(203, 65, 41);
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
}

.input-box input {
  background-color: transparent;
  padding: 1rem 0.1rem;
  font-size: 1.5rem;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
}

.input-box input::placeholder {
  color: white;
}
.cities {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 5rem;
  height: 50vh;
}
.city {
  background-color: white;
  color: black;
  padding: 1rem 2rem;
  font-size: 2rem;
  border-radius: 2rem;
  border: 3px solid red;
  height: 100%;
  width: 350px;
  margin: 1rem;
}
.city p:nth-child(1) {
  color: gray;
}
.city > p:first-child > sup {
  background-color: orange;
  border-radius: 0.9rem;
  padding: 0.2rem 0.4rem;
  color: white;
}
.city p:nth-child(2) {
  font-size: 4rem;
  font-weight: 800;
  padding-left: 1rem;
  font-size: 6rem;
  margin-top: 0;
}
.city p:nth-child(3) {
  width: 60%;
  margin-top: -3rem;
}
img {
  width: 100%;
}

.another {
  color: white;
}
